In [58]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [67]:
a = pd.read_csv("Sh_list2.csv")
b = pd.read_csv("Sh_list2.csv")
c = DataFrame(columns = ['k'])
d = DataFrame({'h':['a','a','b','c','d']})
e = DataFrame({'h':['a']})
d =pd.concat([d,e])
d

   h
0  a
1  a
2  b
3  c
4  d
0  a

In [101]:
tom = {}
type (tom)
tom['stock_id'] = []
tom['age'] = []

In [102]:
for x in range(5):
    tom['stock_id'].append('tom')
    tom['age'].append(x)
tom
jerry = DataFrame(tom)
jerry

   age stock_id
0    0      tom
1    1      tom
2    2      tom
3    3      tom
4    4      tom

In [99]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
frame

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002