In [9]:
#set up the environment
import pandas as pd
import numpy as np
import pandas
from pandas import Series, DataFrame
from datetime import datetime
from numpy.random import randn
import numpy as np

In [10]:
#exampleï¼šfor 3 stocks
IDlist=['000002','000039','000059']

In [11]:
#set the empty set
data = {}
#select certain time period  PS:the frequency of our date is 'B' as business day
selecteddates = pd.date_range('2000-04-15', '2000-04-25', freq='B')
#get the empty dataframe named  'stock'
stock = DataFrame(data,columns=IDlist,index=selecteddates)

In [393]:
for i in range(len(IDlist)):
#read the csv
    readcsv = pd.read_csv('data/'+IDlist[i]+'.csv',encoding="gbk",na_values=['--  '])

#turn to DataFrame
    original_data = DataFrame(readcsv).dropna()


#select useful data
    del original_data['open']
    del original_data['max']
    del original_data['min']
    del original_data['close']
    del original_data['turn']
    del original_data['volume']

#transform  dailyreturn to Series
    dailyrtn = np.array(original_data['dailyreturn'])

#transform date to string
    for x in original_data['date']:
        x = str(x)
        x = datetime.strptime(x, '%Y-%m-%d')
    date =original_data['date']
    ts = Series(dailyrtn,index=date).dropna()

#we need to input our target period of time, here we use the example of 1994-04-15 --->> 1994-04-25
    temp = np.array(ts['2000-04-15':'2000-04-25'])
    stock[IDlist[i]] = temp

In [8]:
stock
###.cov()
##.mean()

           000002 000039 000059
2000-04-17    NaN    NaN    NaN
2000-04-18    NaN    NaN    NaN
2000-04-19    NaN    NaN    NaN
2000-04-20    NaN    NaN    NaN
2000-04-21    NaN    NaN    NaN
2000-04-24    NaN    NaN    NaN
2000-04-25    NaN    NaN    NaN