In [59]:
import pandas as pd
from pandas import Series, DataFrame
data = DataFrame(pd.read_csv('data/test_output0.csv',encoding="gbk",na_values=['--  ']))

#result = DataFrame(columns =['stock_id'] , index = data.index)

for x in data['report'].index:
    
    data['report'][x] = DataFrame(eval(data['report'][x]))
    data['report'][x]['stock_id'] = data['name'][x]

ans = data['report']
stock_list = []
for x in data.index:
    stock_list.append(ans[x])
result = pd.concat(stock_list)
result.to_csv('data/output_0.csv',encoding = "gbk")

,date,diff_0,diff_1,diff_2,diff_3,diff_4,diff_5,stock_id
0,2015-01-26,0.003610,0.000000,0.000515,0.001536,0.001029,0.000000,XSHE_000568
1,2015-02-04,0.002735,0.000526,0.000528,0.000528,0.000000,0.000526,XSHE_000568
2,2015-03-02,0.010010,0.000000,0.000000,0.000496,0.000997,0.000000,XSHE_000568
3,2015-04-08,0.018998,0.002004,0.000000,0.002737,0.000389,0.002004,XSHE_000568
4,2015-04-15,0.002980,0.000000,0.000000,0.000000,0.000394,0.000000,XSHE_000568
5,2015-04-30,0.000698,0.001548,0.000000,0.000776,0.000779,0.001548,XSHE_000568
6,2015-05-20,0.001878,0.000406,0.000407,0.000000,0.000000,0.000406,XSHE_000568
7,2015-06-03,0.004549,0.000375,0.001489,0.000742,0.000736,0.000375,XSHE_000568
8,2015-06-24,0.033052,0.000674,0.000000,0.001619,0.000638,0.000674,XSHE_000568
9,2015-07-07,0.012275,0.000000,0.001711,0.003088,0.000871,0.000000,XSHE_000568
10,2015-07-21,0.008443,0.000411,0.000813,0.000000,0.000000,0.000411,XSHE_000568
11,2015-08-25,0.024641,0.007056,0.000000,0.000000,0.001004,0.007056,XSHE_000568
12,2015-09-09,0.003657,0.002342,0.000000,0.000000,0.000466,0.002342,XSHE_000568
13,2015-09-17,0.008095,0.000478,0.000000,0.001442,0.000481,0.000478,XSHE_000568
0,2015-01-30,0.006462,0.000000,0.000000,0.000309,0.001235,0.000000,XSHE_000596
1,2015-02-09,0.022379,0.009950,0.001330,0.000996,0.000000,0.009950,XSHE_000596
2,2015-03-12,0.005289,0.000000,0.000618,0.000310,0.000000,0.000000,XSHE_000596
3,2015-04-03,0.000920,0.001156,0.000000,0.000288,0.000575,0.001156,XSHE_000596
4,2015-05-04,0.008322,0.000531,0.000000,0.000000,0.002394,0.000531,XSHE_000596
5,2015-05-21,0.003120,0.000000,0.000000,0.000000,0.000823,0.000000,XSHE_000596
6,2015-06-04,0.009846,0.002551,0.000000,0.000254,0.001263,0.002551,XSHE_000596
7,2015-06-25,0.012508,0.000000,0.000000,0.000000,0.000213,0.000000,XSHE_000596
8,2015-07-03,0.000720,0.000000,0.000000,0.000000,0.000000,0.000000,XSHE_000596
9,2015-07-21,0.006887,0.000000,0.000000,0.000562,0.000279,0.000000,XSHE_000596
10,2015-07-31,0.035592,0.000272,0.000000,0.000000,0.003963,0.000272,XSHE_000596
11,2015-08-12,0.026710,0.001996,0.000000,0.000491,0.002189,0.001996,XSHE_000596
12,2015-08-20,0.008707,0.000275,0.000000,0.000000,0.000000,0.000275,XSHE_000596
13,2015-09-09,0.008066,0.000000,0.000327,0.000000,0.000970,0.000000,XSHE_000596
14,2015-09-17,0.000288,0.003236,0.000358,0.000000,0.000000,0.003236,XSHE_000596
0,2015-01-20,0.001537,0.000639,0.000649,0.000646,0.000000,0.000639,XSHE_000799
1,2015-02-03,0.005487,0.000000,0.000000,0.000650,0.000000,0.000000,XSHE_000799
2,2015-03-12,0.003194,0.001333,0.000000,0.000668,0.000000,0.001333,XSHE_000799
3,2015-04-01,0.002024,0.000595,0.000596,0.001189,0.000000,0.000595,XSHE_000799
4,2015-04-24,0.002024,0.000595,0.000596,0.001189,0.000000,0.000595,XSHE_000799
5,2015-06-04,0.006442,0.000000,0.000499,0.000500,0.000000,0.000000,XSHE_000799