# pandas

+ pandas这个名字源于 panel data( 面板数据)，以及 Python data analysis。
+ Pandas以NumPy为基础，让以NumPy为中心的应用变得更加简单。
+ 提供了大量适用于金融数据的高性能时间序列工具。作者在设计该包时就计划将其做成一款适用于金融数据分析的工具。

## 内容

+ Pandas的数据结构介绍
   - Seires
   - DataFrame
+ 基本功能
+ 汇总和计算描述统计
+ 处理缺失数据
+ 其他

+ 通常在调用Pandas之前做如下的引入约定：

In [22]:
import pandas as pd
import pandas
from pandas import Series, DataFrame

In [23]:
from myfunctions import *

In [24]:
import numpy as np
from numpy.random import randn
import os ##cannot pip install os
import matplotlib.pyplot as plt
from myfunctions import *  ##这个myfunctions是个什么包
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6)) 
np.set_printoptions(precision=4)

In [25]:
import os
plt.rc('figure', figsize=(10, 6)) 
np.set_printoptions(precision=4)

## 介绍Pandas数据结构

要使用pandas，首先得熟悉其两个主要的数据结构：Series 和 DataFrame。

### Series

一种类似于一维数组的对象，由数据及其标签组成

In [26]:
obj = Series([100, 99, 100, 60])
obj

0    100
1     99
2    100
3     60
dtype: int64

In [27]:
print(obj.values)
print (obj.index)

[100  99 100  60]
RangeIndex(start=0, stop=4, step=1)

In [28]:
test =Series ({'a':10,'b':5})
print(test)
print (type(test.index))
print (type(test.values))

a    10
b     5
dtype: int64
<class 'pandas.indexes.base.Index'>
<class 'numpy.ndarray'>

In [29]:
obj.index

RangeIndex(start=0, stop=4, step=1)

在构建Series时，通过"index="参数给出其索引，

In [30]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

并且我们可以用索引引用数据，

和NumPy一样选取数据,对数据进行计算。只不过Series每个数据都有一个关键字索引。

In [31]:
obj2['d'] = 6
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

In [32]:
obj2['a']
li = ['a','b']
obj2[li]

a   -5
b    7
dtype: int64

In [33]:
print(obj2[obj2 > 0])
print(obj2)

d    6
b    7
c    3
dtype: int64
d    6
b    7
a   -5
c    3
dtype: int64

In [34]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [35]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

+ 我们可以将Series看成一定长度的有序字典，定义了索引值到数据值的一个映射。

In [36]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [37]:
'b' in obj2.values

/Applications/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if __name__ == '__main__':

False

In [38]:
'e' in obj2

False

+ 如果数据被存在字典中，我们可以直接通过该字典来创建Series

In [39]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = Series(sdata)
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

+ 如果指定了Series的index，其只提取该index中存在的索引及其对应值。

In [40]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

 但California在字典sdata中没有，这是在pandas中就产生一个缺失值。通过isnull方法判断是否有缺失值

In [41]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

+ Series一个最重要的功能是：它在算术运算中会自动对齐不同索引的数据。

In [42]:
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [43]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [44]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

可以通过赋值的方式修改索引。

In [45]:
obj

0    100
1     99
2    100
3     60
dtype: int64

In [46]:
obj.index = ['Tom', 'Steve', 'Jeff', 'Ryan']
obj

Tom      100
Steve     99
Jeff     100
Ryan      60
dtype: int64

## DataFrame

+ DataFrame是表格型的数据结构，她含有一组有序的列，每列可以是不同的类型(数值，字符串，布尔等)
+ DataFrame既有行索引也有列索引，它可以被看做由Series组成的字典（共用同一个索引）
+ 最常见的构建DataFrame的方法是直接传入一个有等长列表或NumPy数组组成的字典。

In [141]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
print(frame.ix[1],'\n')
print(frame.index,'\n')
frame

pop       1.7
state    Ohio
year     2001
Name: 1, dtype: object

RangeIndex(start=0, stop=5, step=1)

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

我们可以指定列的顺序。

In [142]:
DataFrame(data, columns=['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

如果传入的数据不存在，就会产生NA值：

In [143]:
frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                   index=['one', 'two', 'three', 'four', 'five'])
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

通过引用一个列，可以获得一个Series,下面是两种引用方法

In [147]:
print(frame2['state'])

print(frame2.state)
print('\n',type(frame2.debt))
print('\n',type(frame2.ix[0]))
print('\n',type(frame2.ix))
print('\n',type(frame2.loc['four']))
print('\n',frame2.loc['four'])
print('\n',type(frame2.ix['three']))
print('\n',frame2.ix['three'])

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object
one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object

 <class 'pandas.core.series.Series'>

 <class 'pandas.core.series.Series'>

 <class 'pandas.core.indexing._IXIndexer'>

 <class 'pandas.core.series.Series'>

 year       2001
state    Nevada
pop         2.4
debt        NaN
Name: four, dtype: object

 <class 'pandas.core.series.Series'>

 year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

#### frame2['year']

+ 行的引用，ix方法

In [51]:
frame2['year']

one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64

In [52]:
frame2.ix['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

+ 给DataFrame的列赋值， 
  
  将标量赋值给列中所有单元

In [53]:
frame2['debt'] = [1,2,3,4,4]
print(frame2['debt']['one'])
frame2

1

       year   state  pop  debt
one    2000    Ohio  1.5     1
two    2001    Ohio  1.7     2
three  2002    Ohio  3.6     3
four   2001  Nevada  2.4     4
five   2002  Nevada  2.9     4

  - 用list或数组赋值，列的长度必须和DataFrame长度匹配

In [54]:
frame2['debt'] = np.arange(5.)
print(type(frame2.values))
frame2.values

<class 'numpy.ndarray'>

array([[2000, 'Ohio', 1.5, 0.0],
       [2001, 'Ohio', 1.7, 1.0],
       [2002, 'Ohio', 3.6, 2.0],
       [2001, 'Nevada', 2.4, 3.0],
       [2002, 'Nevada', 2.9, 4.0]], dtype=object)

  - 如果赋值的是一个Series，就会精确匹配索引，空的地方或用缺失值补上。

In [55]:
val = Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
print(frame2)

print(frame2.values)

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
[[2000 'Ohio' 1.5 nan]
 [2001 'Ohio' 1.7 -1.2]
 [2002 'Ohio' 3.6 nan]
 [2001 'Nevada' 2.4 -1.5]
 [2002 'Nevada' 2.9 -1.7]]

  - 为不存在的列赋值

In [56]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

       year   state  pop  debt eastern
one    2000    Ohio  1.5   NaN    True
two    2001    Ohio  1.7  -1.2    True
three  2002    Ohio  3.6   NaN    True
four   2001  Nevada  2.4  -1.5   False
five   2002  Nevada  2.9  -1.7   False

-  关键字 del用于删除列。

In [57]:
del frame2['eastern']
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7

+ 将嵌套的字典传给DataFrame时，外层字典的键为列，内层为行索引。

In [58]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
DataFrame(pop)

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [59]:
frame3 = DataFrame(pop)
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

+ 行和列都有关键字索引，也可以进行转置

In [60]:
print(frame3.T)
print(frame3.T.index)

        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio     1.5   1.7   3.6
Index(['Nevada', 'Ohio'], dtype='object')

Frame 的值 是ndarray

In [61]:
print(frame3.values)
print(type(frame3.values))

[[ nan  1.5]
 [ 2.4  1.7]
 [ 2.9  3.6]]
<class 'numpy.ndarray'>

In [149]:
print(frame2.values)
print(type(frame2.values))

[[2000 'Ohio' 1.5 nan]
 [2001 'Ohio' 1.7 nan]
 [2002 'Ohio' 3.6 nan]
 [2001 'Nevada' 2.4 nan]
 [2002 'Nevada' 2.9 nan]]
<class 'numpy.ndarray'>

也可以直接用二维ndarray生成DataFrame

In [63]:
frame4=DataFrame(np.array([[0, 1.5],
       [ 2.4,  1.7],
       [ 2.9,  3.6]]),index=['2001','2002','2003'],columns=['Nevada','Ohio'])
frame4

      Nevada  Ohio
2001     0.0   1.5
2002     2.4   1.7
2003     2.9   3.6

生成DataFrame的几种基本方法：
n维ndarray 字典转换

## 基本功能

介绍操作Series和DataFrame中数据的基本手段。

### 舍弃某些数据

+ 可以通过drop方法删指定索引上的值，即删掉一行。

In [150]:
obj = Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
print(obj)

obj.drop(['d', 'c'])

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

a    0.0
b    1.0
e    4.0
dtype: float64

+ 选项 axis=1，则删列.

In [151]:
data = DataFrame(np.arange(16).reshape((4, 4)),
                 index=['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [152]:
data = data.drop(['Ohio', 'Colorado'])
data.drop(['two','four'],axis=1)

          one  three
Utah        8     10
New York   12     14

### 索引、选取和过滤 （  Indexing, selection, and filtering）

+ Series可以通过索引，整数，布尔型进行选择。
+ DataFrame的索引能获得一或多列。
+ 如果需要对行进行选择，需要用到 .ix方法。

+ Series

In [164]:
#用一个或多个关键字索引
obj = Series(np.arange(4.0), index=['a', 'b', 'c', 'd'])
print(obj.dtype)

print(obj['b']) # index
obj[['b', 'a', 'd']]
print(obj)

float64
1.0
a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [165]:
#通过一个整数或整数list索引
print(obj[1])
print(obj[1: 3])
print(obj[[1,3]])
print(obj[['b','d']])

1.0
b    1.0
c    2.0
dtype: float64
b    1.0
d    3.0
dtype: float64
b    1.0
d    3.0
dtype: float64

In [166]:
#用逻辑值索引
obj[obj < 2]

a    0.0
b    1.0
dtype: float64

+ 对DataFrame的索引

In [167]:
data = DataFrame(np.arange(16).reshape((4, 4)),
                 index=['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

+ 对列索引

In [157]:
print(data)
data['two']

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int64

+ 对行索引

In [158]:
print(data)
print(data.ix['Colorado':])
##等价于
print(data[1:])

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [159]:
#利用逻辑值索引行

print(data)
print(data > 5)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
            one    two  three   four
Ohio      False  False  False  False
Colorado  False  False   True   True
Utah       True   True   True   True
New York   True   True   True   True

+ 利用逻辑值索引

In [160]:

data[data >= 5]

           one   two  three  four
Ohio       NaN   NaN    NaN   NaN
Colorado   NaN   5.0    6.0   7.0
Utah       8.0   9.0   10.0  11.0
New York  12.0  13.0   14.0  15.0

In [161]:
data[data < 5] = 0
data

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

+ 使用.ix索引，指定行

In [162]:
#只指定一个整数，索引一列
data.ix[2]

one       8
two       9
three    10
four     11
Name: Utah, dtype: int64

同时指定行列

In [163]:
 
#data1=data.ix[['Colorado', 'Utah'], ['two', 'three']] 
 
data2=data.ix[['Colorado', 'Utah'], [3, 0, 1]]
 
data3=data.ix[data.three > 5, :2] 

side_by_side(data,data2,data3)

+ 总结一下：
   - obj[val] 选取单个列或一组列
   - obj.ix[val] 选取单个行或一组行
   - obj.ix[:,val] 选取单个列或列子集
   - obj.ix[val1,val2] 同时选取行和列
   - reindex 方法 将一个或多个轴匹配到新索引
   - icol,irow 方法，根据整数位置选取单列或单行，返回一个Sereis
   - get_value,set_value 方法， 根据行标签和列标签选取单个值。

### 算术运算和数据对齐

+ 在进行计算时会将索引对齐，是pandas最重要的功能。
+ 将两个不同索引的对象相加时，结果的索引为两对象索引的并，相同索引的值相加，不同索引处为缺失值。
+ DataFrame， 同时在行和列上对齐。

In [168]:
s1 = Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])
s1 * s2

a   -15.33
c    -9.00
d      NaN
e    -2.25
f      NaN
g      NaN
dtype: float64

In [169]:
df1 = DataFrame(np.arange(9.).reshape((3, 3)), columns=['as','xi','ba'],
                index=['Ohio', 'Texas', 'Colorado'])

print(df1)
df2 = DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(df2)
print(df1 + df2)

           as   xi   ba
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0
          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0
          as   b  ba   d   e  xi
Colorado NaN NaN NaN NaN NaN NaN
Ohio     NaN NaN NaN NaN NaN NaN
Oregon   NaN NaN NaN NaN NaN NaN
Texas    NaN NaN NaN NaN NaN NaN
Utah     NaN NaN NaN NaN NaN NaN

#### 处理运算中的缺失值

可以通过 fill_value在NaN的地方填充一个值， 算术方法分别为 add，sub，div，mul

In [80]:
df1 = DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
df2 = DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))
#dfadd=df1+df2
dfaddfill0=df1.add(df2, fill_value=0)
side_by_side(df1,df2,dfaddfill0)

### DataFrame 和 Series 之间的运算 

+ 当一个向量减去一个标量时，向量中的每个值都会减去该值。

In [173]:
arr = np.arange(12.).reshape((3, 4))
arr - arr[0]

array([[ 0.,  0.,  0.,  0.],
       [ 4.,  4.,  4.,  4.],
       [ 8.,  8.,  8.,  8.]])

In [174]:
arr - arr[1]

array([[-4., -4., -4., -4.],
       [ 0.,  0.,  0.,  0.],
       [ 4.,  4.,  4.,  4.]])

+ 减去一个Sereis，其每行都要做相同的操作

In [175]:
frame = DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                  index=['Utah', 'Ohio', 'Texas', 'Oregon'])
series = frame.ix[0]
fsubr=frame - series
side_by_side(frame,fsubr)
#series

+ Pandas和一般数组不同的是，它还要进行列索引的匹配。
+ 如果有不匹配的，还要生成新的列，并用缺失值NaN代替。这种操作被称为广播。

In [176]:
series2 = Series(range(3), index=['b', 'e', 'f'])
frame + series2

          b   d     e   f
Utah    0.0 NaN   3.0 NaN
Ohio    3.0 NaN   6.0 NaN
Texas   6.0 NaN   9.0 NaN
Oregon  9.0 NaN  12.0 NaN

+ 一般的广播都是按行进行，如果希望在列上进行，则要进行设定， axis=0，此处传入的是进行匹配的轴。

In [177]:
series3 = frame['d']
fsubc=frame.sub(series3, axis=0)

side_by_side(frame,fsubc)

### 函数应用和映射 

NumPy的函数也可以操作到pandas对象

In [211]:
frame = DataFrame(np.random.randn(4, 3), columns=list('bde'),
                  index=['Utah', 'Ohio', 'Texas', 'Oregon'])
fabs=np.abs(frame)
side_by_side(frame,fabs)

+ 将函数应用到各列或者各行计算得到一个一维数组，可以用apply方法，这样方法也是R中的重要方法。

In [212]:
frame

               b         d         e
Utah    0.758363 -0.660524  0.862580
Ohio   -0.010032  0.050009  0.670216
Texas   0.852965 -0.955869 -0.023493
Oregon -2.304234 -0.652469 -1.218302

In [213]:
f = lambda x: x.max() - x.min()

frame.apply(f)

b    3.157199
d    1.005878
e    2.080882
dtype: float64

In [214]:
#　将函数应用到列
frame.apply(f, axis=1)

Utah      1.523104
Ohio      0.680247
Texas     1.808834
Oregon    1.651765
dtype: float64

+ 若函数只有一个返回值，apply之后得到一个Series。
+ 若有多个返回值，则得到DateFrame

In [183]:
def f(x):
    return Series([x.min(), x.max()], index=['min', 'max'])
frame.apply(f)

            b         d         e
min -2.359419 -1.307030 -1.541996
max  0.119827  0.560145  0.332883

+ 元素级（即每个数值）的Python函数在DataFrame也可以用，使用applymap即可
+ 如下的例子实现每个元素的输出特定的格式

In [184]:
format = lambda x: '%.2f' % x
frame.applymap(format)

            b      d      e
Utah    -0.86   0.56  -1.27
Ohio     0.12  -1.06   0.33
Texas   -2.36  -0.20  -1.54
Oregon  -0.97  -1.31   0.29

+ 对Sereis，相应的方法为map

In [185]:
frame['e'].map(format)

Utah      -1.27
Ohio       0.33
Texas     -1.54
Oregon     0.29
Name: e, dtype: object

###  序 

+ 按照索引关键字进行排序，使用sort_index方法，
+ 对DataFrame，默认对行排，如果对列索引排，需要指明 axis=1, 
+ 选项 ascending =False 表示降序。
+ 如果需要对Series的值排序，sort_values。缺失值会放到末尾。
+ 对DataFrame的值进行排序，传递给选项by列名称即可。

In [193]:
#按照索引关键字进行排序，使用sort_index方法，
obj = Series(range(4), index=['d', 'a', 'b', 'c'])
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [194]:
#对DataFrame，默认对行排
frame = DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'],
                  columns=['d', 'a', 'b', 'c'])
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [195]:
#，如果对列索引排，需要指明 axis=1,
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [196]:
frame.sort_index(axis=1, ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [197]:
#如果需要对Series的值排序，则用order方法。缺失值会放到末尾。
obj = Series([4, 7, -3, 2])
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [198]:
obj = Series([4, np.nan, 7, np.nan, -3, 2])
obj.sort_values()

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

In [199]:
# 对DataFrame的值进行排序，传递给选项by列名称即可。

frame = DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
sortbyb=frame.sort_values(by='b')
sortbyab=frame.sort_values(by=['a', 'b'])
side_by_side(frame,sortbyb,sortbyab)

+ rank方法给出Series各元素的序号
+ 对DataFrame，可以逐行或列给出序号

In [200]:
obj = Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [201]:
obj.rank(ascending=False, method='max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [202]:
frame = DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
                   'c': [-2, 5, 8, -2.5]})
side_by_side(frame,frame.rank())

In [203]:
frame.rank(axis=1)

     a    b    c
0  2.0  3.0  1.0
1  1.0  3.0  2.0
2  2.0  1.0  3.0
3  2.0  3.0  1.0

### 有重复的索引 

 索引值可以是不唯一的

In [204]:
obj = Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [205]:
obj['a']

a    0
a    1
dtype: int64

In [206]:
df = DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

          0         1         2
a  0.377984 -0.753887  0.331286
a  1.349742  0.069877  0.246674
b -0.011862  1.004812  1.327195
b -0.919262 -1.549106  0.022185

In [207]:
df.ix['b']

          0         1         2
b -0.011862  1.004812  1.327195
b -0.919262 -1.549106  0.022185

## 汇总和描述性统计量的计算  

下面介绍一些汇总和描述性统计量的计算。

包括，count, describe, min,max, argmin, argmax, idxmin, idxmax, quantile, sum,mean, median, mad,var,std, skew,kurt,cumsum, cummin, cummax, cumprod,  diff, pct_change等

In [208]:
df = DataFrame([[1.4, np.nan], [7.1, -4.5],
                [np.nan, np.nan], [0.75, -1.3]],
               index=['a', 'b', 'c', 'd'],
               columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [209]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [210]:
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [110]:
df.mean(axis=1, skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [111]:
df.idxmax()

one    b
two    d
dtype: object

In [112]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [113]:
obj = Series(['a', 'a', 'b', 'c'] * 4)
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

###  唯一集合，频数等

In [114]:
obj = Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [115]:
uniques = obj.unique()
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [116]:
#计算频数
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [117]:
# 判断包含关系
mask = obj.isin(['b', 'c'])
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [118]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [119]:
data = DataFrame({'Qu1': [1, 3, 4, 3, 4],
                  'Qu2': [2, 3, 1, 2, 3],
                  'Qu3': [1, 5, 2, 4, 4]})
# 计算各个数出现的频数,按列
result = data.apply(pd.value_counts)
side_by_side(data,result)

## 处理缺失值

In [120]:
string_data = Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [121]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

###  数据选择，滤掉一些缺失值

+ 函数 data.dropna()，data.notnull()

In [122]:
from numpy import nan as NA
data = Series([1, NA, 3.5, NA, 7])
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [123]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [124]:
# DataFrame
data = DataFrame([[1., 6.5, 3.], [1., NA, NA],
                  [NA, NA, NA], [NA, 6.5, 3.]])

data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [125]:
cleaned = data.dropna()
cleaned

     0    1    2
0  1.0  6.5  3.0

In [126]:
# 其它参数选项
data.dropna(axis=1,how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

### 填补缺失值

In [127]:
df.fillna(0)

    one  two
a  1.40  0.0
b  7.10 -4.5
c  0.00  0.0
d  0.75 -1.3

+ 传入字典实现 不同列填补不同数据

In [128]:
df.fillna({1: 0.5, 3: -1})

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

## 分层索引

In [129]:
data = Series(np.random.randn(10),
              index=[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd'],
                     [1, 2, 3, 1, 2, 3, 1, 2, 2, 3]])
data

a  1   -0.577087
   2    0.124121
   3    0.302614
b  1    0.523772
   2    0.000940
   3    1.343810
c  1   -0.713544
   2   -0.831154
d  2   -2.370232
   3   -1.860761
dtype: float64

In [130]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

In [131]:
data['b']

1    0.523772
2    0.000940
3    1.343810
dtype: float64

In [132]:
data['b':'c']

b  1    0.523772
   2    0.000940
   3    1.343810
c  1   -0.713544
   2   -0.831154
dtype: float64

In [133]:
data.ix[['b', 'd']]

b  1    0.523772
   2    0.000940
   3    1.343810
d  2   -2.370232
   3   -1.860761
dtype: float64

内层引用

In [134]:
data[:, 2]

a    0.124121
b    0.000940
c   -0.831154
d   -2.370232
dtype: float64

###  使用 DataFrame的列作为索引使用

In [135]:
frame = DataFrame({'a': range(7), 'b': range(7, 0, -1),
                   'c': ['one', 'one', 'one', 'two', 'two', 'two', 'two'],
                   'd': [0, 1, 2, 0, 1, 2, 3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [136]:
frame2 = frame.set_index(['c', 'd'])
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [137]:
frame.set_index(['c', 'd'], drop=False)

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

In [138]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

## Other pandas topics

### Panel data

In [139]:
import pandas.io.data as web

pdata = pd.Panel(dict((stk, web.get_data_yahoo(stk))
                       for stk in ['AAPL', 'GOOG', 'MSFT', 'DELL']))

/Applications/anaconda/lib/python3.5/site-packages/pandas/io/data.py:35: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)

OSError: after 3 tries, Yahoo! did not return a 200 for url 'http://ichart.finance.yahoo.com/table.csv?s=AAPL&a=0&b=1&c=2010&d=8&e=28&f=2017&g=d&ignore=.csv'

In [ ]:
pdata

In [ ]:
pdata = pdata.swapaxes('items', 'minor')
pdata['Adj Close']

In [ ]:
pdata.ix[:, '6/1/2012', :]

In [ ]:
pdata.ix['Adj Close', '5/22/2012':, :].head()

In [ ]:
stacked = pdata.ix[:, '5/30/2012':, :].to_frame()
stacked.head()

In [ ]:
stacked.to_panel()

## 数据合并

可以根据关键字进行合并，非常灵活。

In [ ]:
df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                 'data1': range(7)})
df2 = DataFrame({'key': ['a', 'b', 'b'],
                 'data2': range(3)})
print(df1)
print(df2)

In [ ]:
pd.merge(df1, df2) # 共同的关键字，inner